<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="gw2tpContext" connectionString="server=localhost;User Id=root;password=jamin070;Persist Security Info=True;database=gw2tp"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>